# Base de datos - Neon PostgreSQL
DATABASE_URL="postgresql://user:password@host/database?sslmode=require"
DIRECT_URL="postgresql://user:password@host/database?sslmode=require"

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Resend (email)
RESEND_API_KEY="re_..."
EMAIL_FROM="onboarding@resend.dev"
